@font-face {
  font-family: 'Poppins';
  src: url('@fonts/Poppins-Regular.ttf') format('ttf');
  font-weight: 400;
  font-style: normal;
}

:root {
  font-family: Poppins, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;

  --primary: #D9D9D9;
  --secondary: #f1f1f1;
  --tertiary: #EE4848;
  --text: rgb(36, 37, 38);

  color: var(--text);
  background-image: radial-gradient(#c1c1c1 1.5px, var(--primary) 1px);
  background-size: 20px 20px;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

@keyframes faded {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 100%;
  }
}

@keyframes faded-slide {
  0% {
    scale: .5;
    opacity: 0;
    translate: 0 100px;
  }

  100% {
    scale: 1;
    opacity: 100%;
    translate: 0 0;
  }
}