.item {
    border-radius: 15px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    text-align: center;
    transition: .3s ease-in all;
    background-color: #c54848;
    background-color: color-mix(in srgb, var(--tertiary), white 25%);
    animation: faded-slide linear both;
    animation-timeline: view();
    animation-range: entry 10% cover 20%;
    position: relative;

    &:hover {
        transform: scale(1.1);
    }

    p {
        color: #fff;
        margin-top: 0;
    }
}