.item {
    display: flex;
    flex-direction: column;
    text-align: center;
    animation: faded-slide linear both;
    animation-timeline: view();
    animation-range: entry 10% cover 20%;
    position: relative;

    &:hover {
        transform: scale(1.1);
    }

    div {
        min-height: 110px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;

        .placeholder {
            position: absolute;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        img {
            object-fit: cover;
            transition: opacity 0.3s ease-in-out;
        }

        img.hidden {
            opacity: 0;
        }
    }

    p {
        margin-top: 0;
    }

    .spinner {
        width: 40px;
        height: 40px;
    }
}


@keyframes loader4 {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }

    to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}