.details-header {
    background-color: var(--tertiary);
    padding: 10px;
    text-align: center;
    border-radius: 5px 5px 0 0;
    position: relative;

    span {
        color: #fff;
        font-size: 1.5rem;
        font-weight: bold;
    }
}

.details-content {
    padding: 30px 15px;
    display: flex;
    flex-direction: row;
    gap: 1rem;

    .details-img {
        display: flex;
        justify-content: center;

        img {
            background-color: #fff;
            border-radius: 10px;
            width: 220px;
            height: 220px;
            object-fit: cover;
            image-rendering: pixelated;
            image-rendering: crisp-edges;
        }
    }

    div {
        .details-stats {

            ul {
                padding: 0;
                margin: 0;
                width: 300px;

                li {
                    margin: 0;
                    padding: 0;
                    list-style: none;
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;

                    p {
                        font-size: 15px;
                        padding: 0;
                        margin: 0;
                        color: var(--i)
                    }

                    /* Fondo general */
                    meter::-webkit-meter-bar {
                        background: #ffffff;
                    }

                    /* Relleno en el rango óptimo */
                    meter::-webkit-meter-optimum-value {
                        background: var(--i);
                    }

                    /* Firefox */
                    /* Color del relleno */
                    meter::-moz-meter-bar {
                        background: linear-gradient(90deg, #4caf50, #8bc34a);
                    }
                }
            }
        }

        .details-types {
            display: flex;
            flex-wrap: wrap;
            gap: 1rem;
            margin-top: 20px;

            .pokemon-type {
                padding: .5px 10px;
                background-color: var(--j);
                border: 2px solid var(--k);
                border-radius: 20px;
                color: var(--k);
            }
        }
    }
}

.close-button {
    position: absolute;
    right: 0;
    margin-right: 10px;
    cursor: pointer;
    background-color: var(--tertiary);
    color: #fff;
    font-size: 2rem;
    outline: none;
    border: none;
}

@media (max-width: 768px) {
    .details-content {
        flex-direction: column;
    }
}