.pokemon-details-container {
    min-width: 560px;
    min-height: 362px;

    .details-header {
        background-color: var(--tertiary);
        padding: 10px;
        text-align: center;
        border-radius: 5px 5px 0 0;
        position: relative;

        span {
            color: #fff;
            font-size: 1.5rem;
            font-weight: bold;
        }

        .close-button {
            position: absolute;
            right: 0;
            margin-right: 10px;
            cursor: pointer;
            background-color: var(--tertiary);
            color: #fff;
            font-size: 2rem;
            outline: none;
            border: none;
        }
    }

    .tabs {
        width: 100%;
        display: flex;
        flex-direction: row;

        button {
            --color-button: #000;
            flex-grow: 1;
            outline: none;
            border: none;
            background-color: var(--color-button);
            border-bottom: 1px solid #ffffff;
            font-size: 1.1rem;
            font-weight: 300;

            &:hover {
                background-color: color-mix(in srgb, var(--color-button), white 25%);
            }
        }
    }

}

.tabs>button:first-child {
    border-right: 1px solid #fff;
}

.tabs>button:last-child {
    border-left: 1px solid #fff;
}

@media (max-width: 768px) {
    .pokemon-details-container {
        min-width: 300px;
    }
}