.search-bar {
    font-size: medium;
    text-align: center;
    outline: none;
    border: none;
    width: 250px;
    border-radius: 17px;
    padding: 10px 15px;
    margin: 0 auto 20px;
    color: var(--text);
}